body {
  font-size: 20px;
  font-family: arial, helvetica, sans-serif;
}
h1 {
  background-color: gray;
  padding: 1em;
}
.linkImage {
  max-width: 100px;
}

.exerciseList{

  display: flex;
  flex-direction: column;
}

.screenshot{
  max-width: 250px;
}
