body {
  font-size: 20px;
  font-family: arial, helvetica, sans-serif;
  margin: 0;
}
.main{
  padding-left: 25px;
}
h1 {
  background-color: gray;
  padding: 1em;
}
.linkImage {
  max-width: 100px;
  padding: 15px;
}

.exerciseList{

  display: flex;
  flex-direction: column;
}

.screenshot{
  max-width: 250px;
  /* padding: px; */
  /* border-style: solid; */
  /* border-color: gray;
  border-width: medium; */


}
.screenshot:hover{
  transform: scale(1.1);

}
 .linkImage:hover {
   transform: scale(1.2);
 }

 code {
   display: block;
   white-space: pre-wrap;
   font-size: small;
   background-color: #d1cec7;

 }
.exercises {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.ind-exercise{
  display: flex;
  flex-direction: column;
}

.screenshot {
  margin: 15px;
  /* max-height: 150px; */
  -webkit-box-shadow: 8px 8px 6px -6px #222;
  -moz-box-shadow: 8px 8px 6px -6px #222;
  box-shadow: 8px 8px 6px -6px #222;

}
.ind-exercise p{
  font-size: small ;
}
#endnote{
  font-size: small;
}