@import "task-list.css";
@import "task-footer.css";
@import "add-task.css";
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

:root {
    --primary: #0a2342;
    --secondary: #2ca58d;
    --third-color: #84bc9c;
    --fourth-color:#fffdf7;
    
    --fifth-color:#de6449;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    background-color: var(--primary);
    color: var(--fourth-color);
}


button {
    background-color:var(--primary);
    color: var(--fourth-color);
    border: none;
    
    /* border-width: medium; */
    /* border-color: #de6449; */
}
#add-btn{
    font-size: x-large;
    text-align: center;
}

a {
    text-decoration: none;
    color: var(--fourth-color);
}
input[type=checkbox]:checked + .labelForCheck{
    text-decoration: line-through;
  }

li{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
.form-control{
    display: flex;
    justify-content: center;
    align-content: stretch;
}