



.task-list{
    display: flex;
    flex-direction:column;
    border-style: solid;
    border-color: var(--secondary);
}
.task-block{
    display: grid;
    grid-template-columns: 10% 80% 10%;
    border-bottom-style: solid;
    border-bottom-color: var(--secondary);
    padding: 1em;
    
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #fffdf7;
  }
 .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
ul li input checked {
    text-decoration: line-through;
}
#completed-button {
    border-color:#de6449 ;
}