.body {
    height: 100
}

.navbar-brand img {
    border-radius: 50%;
    height: 50px;
    width: 50px
}

.navbar-toggler {
    background-color: #eacd3e
}

.bottom-nav a {
    color: #fff
}

.landing {
    display: grid;
    grid-template-rows: 60vh 1fr 1fr
}

.landing .img {
    min-height: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

.landing h1 {
    grid-row: 2/3;
    place-self: center
}

.landing p {
    place-self: center
}

.landing .btn {
    width: 70wv
}

.home:before {
    background-image: url("images/joel-mott-LaK153ghdig-unsplashCrop.jpg");
    content: "";
    position: absolute;
    background-size: cover;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    opacity: .6;
    background-position: center
}

.login:before {
    content: "";
    position: absolute;
    background-size: cover;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    opacity: .6;
    background-position: center;
    background-image: url("images/sincerely-media-2DdCDqJCS3c-unsplashCrop.jpg")
}

.read:before {
    background-image: url("images/taylor-wilcox-wx0Oyo-T_wU-unsplash.jpg");
    content: "";
    position: absolute;
    background-size: cover;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    opacity: .6;
    background-position: center
}

.journal:before {
    content: "";
    position: absolute;
    background-size: cover;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    opacity: .6;
    background-position: center;
    background-image: url("images/drew-colins-LIEQsu5JuoM-unsplash.jpg")
}

.meditate:before {
    content: "";
    position: absolute;
    background-size: cover;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    opacity: .6;
    background-position: center;
    background-image: url("images/mohammad-alizade-zWebdPq8GnU-unsplash.jpg")
}

.signup:before {
    content: "";
    position: absolute;
    background-size: cover;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    opacity: .6;
    background-position: center;
    background-image: url("images/danie-franco-CeZypKDceQc-unsplash.jpg")
}

.auth {
    display: grid;
    grid-template-rows: 1fr 1fr
}

.auth form {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    grid-row: 2/3;
    align-self: end
}

.btn {
    background-color: #224911;
    color: #fff;
    margin: 1rem;
    border-radius: 10px
}

.bottom-nav .navbar {
    background-color: #224911;
    border-radius: 2rem 2rem 0 0
}

img {
    width: 100vw
}

form input[type=text],
form textarea {
    background-color: #6F686Dcc;
    color: #fff
}

form input[type=password] {
    background-color: #6F686Dcc;
    color: #fff
}

form input[type=email] {
    background-color: #6F686Dcc;
    color: #fff
}

input[type=text],
textarea {
    background-color: #6F686Dcc;
    color: #fff
}

input[type=password] {
    background-color: #6F686Dcc;
    color: #fff
}

input[type=email] {
    background-color: #6F686Dcc;
    color: #fff
}

textarea {
    background-color: #6F686Dcc;
    color: #fff
}