$green: #224911;
$yellow:#EACD3E;
$orange:#E9724C;
$gray: #6F686Dcc;
$blue: #1C3144;
$transparent: #FFF8F0cc;

@mixin background-img {
    content: "";
    position: absolute;
    background-size: cover;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    opacity: .6; 
    background-position: center;
}

// *{
//     margin: 0;
//     padding: 0;
// }
.body{
    height: 100;
}
.navbar-brand{
    img{
        border-radius: 50%;
        height: 50px;
        width: 50px;
    }
}
.navbar-toggler{
    background-color: $yellow;
}
.bottom-nav{
    a{
         color:white
    }
   
}
.landing{
    display: grid;
    grid-template-rows: 60vh 1fr 1fr;
    .img{
        min-height: 100%;
        object-fit: cover;
    }
    h1{
        grid-row: 2/3;
        place-self: center;
    }
    p{
        place-self: center;
    }
    .btn{
        width: 70wv;
    }

}
.home:before{  
    background-image: url('images/joel-mott-LaK153ghdig-unsplashCrop.jpg');
    @include background-img;
}
.login:before{
    @include background-img;
    background-image: url('images/sincerely-media-2DdCDqJCS3c-unsplashCrop.jpg');
}
.read:before{  
    background-image: url('images/taylor-wilcox-wx0Oyo-T_wU-unsplash.jpg');
    @include background-img;
}
.journal:before{
    @include background-img;
    background-image: url('images/drew-colins-LIEQsu5JuoM-unsplash.jpg');
}
.meditate:before{
    @include background-img;
    background-image: url('images/mohammad-alizade-zWebdPq8GnU-unsplash.jpg');
}
.signup:before{
    @include background-img;
    background-image: url('images/danie-franco-CeZypKDceQc-unsplash.jpg');
}

.auth{
    display: grid;
    grid-template-rows: 1fr 1fr ;
    form{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        grid-row: 2/3;
        align-self: end;
    }

}
.btn{
    background-color:$green;
    color: white;
    margin: 1rem;
    border-radius: 10px;

    
}
.bottom-nav{


.navbar{
    background-color: $green;
    border-radius: 2rem 2rem 0 0;
}
}
img{
    width: 100vw;
}
form{
   input[type=text],textarea{
    background-color: $transparent;
    color: black;
}
input[type=password]{
    background-color: $gray;
    color: white;
}
input[type=email]{
    background-color: $gray;
    color: white;
}
}
input[type=text],textarea{
    background-color: $gray;
    color: white;
}
input[type=password]{
    background-color: $gray;
    color: white;
}
input[type=email]{
    background-color: $gray;
    color: white;
}
textarea{
    background-color: $gray;
    color: white;
}
video {
     width: 100%;
     align-self:center;
     }
video source { width: 100%; height: auto; }
.wrapper {
    align-items: center;
    display: flex;
    height: 90%;
    justify-content: center;
    margin: 5%;
    width: 90%;
  }
  .aspect {
    padding-bottom: 70%;
    position: relative;
    width: 100%;
  }
  .aspect-inner {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    // background-color: aliceblue;
  }
  .flipbook {
    height: 100%;
    transition: margin-left 0.25s ease-out;
    width: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .flipbook .page {
    height: 100%;
    width: 100%;
  }
  .flipbook .page img {
    max-width: 100%;
    height: 100%;
  }
  .avatar-image{
      height: 50px;
      width: 50px;
    //   border-radius: 50%;
  }
  .transparent{
background-color: $transparent;
  }
  .journal-entries{
      height: 70vh;
      overflow: scroll;
     
  }

/* Hide scrollbar for Chrome, Safari and Opera */
.journal-entries::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .journal-entries {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

//   @media only screen  and (orientation: landscape) {
// .aspect{
//     max-height: 50vh;
// }
// //enter code here
// }

